body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#container {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 80%;
  max-width: 800px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #555;
}

input, textarea, button {
  margin-top: 8px;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

button {
  background-color: #007AFF;
  color: white;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.app {
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 20px;
  margin-top: 20px;
  position: relative;
}

.app h2 {
  margin-bottom: 15px;
}

.version {
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 15px;
  margin-top: 15px;
  margin-left: 20px;
  background-color: #f9f9f9;
}

textarea {
  resize: none;
  width: 100%;
  height: 120px;
}

#previewImage {
  max-width: 100%;
  max-height: 128px;
  margin-top: 15px;
  border-radius: 32px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
  width: 100%;
  text-align: center;
  align-items: center;
  color: forestgreen;
  visibility: hidden;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
    color: #fff;
  }

  #container {
    background-color: #121212;
  }

  label {
    color: #bbb;
  }

  input, textarea, button {
    background-color: #29292e;
    border: 1px solid #555;
    color: #fff;
  }

  button {
    background-color: #147efb;
  }

  button:hover {
    background-color: #0c5aa1;
  }

  .app {
    border: 1px solid #333;
    background-color: #1c1c1e;
    color: #fff;
  }

  .version {
    border: 1px solid #333;
    background-color: #29292e;
    color: #ddd;
  }

  #previewImage {
    box-shadow: 0 0 0px rgba(255, 255, 255, 0);
  }

  p {
    color: rgb(54, 255, 47);
  }
}